.navbtn {
  list-style: none;
  height: 40px;
  padding: 0;
  background: transparent;
  border: 0px solid #e0e0e0;
  text-align: right;
}

.navbtn li {
  float: none;
  display: inline-block;
  border-right: none;
  height: 40px;
  width: 90px;
  min-width: 89px;
  background: #f4f4f4;
  border-radius: 5px;
}

.navbtn a {
  line-height: 40px;
  font-size: 15px;
  color: #676767;
  display: block;
  text-align: center;
  padding: 0;
  height: 40px;
  font-weight: normal;
  border-radius: 5px;
}

.navbtn a:hover,
.navbtn a:focus {
  font-size: 17px;
  font-weight: bold;
}

@media print, screen and (max-width: 480px) {
  .navbtn li {
    display: block;
    width: 100%;
  }
}
